# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
env/
.venv/
venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# OS
.DS_Store

# Graphene / GraphQL
*.graphql

# Migrations cache (keep migrations themselves!)
**/__pycache__/
